In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\al6436\appdata\local\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\al6436\appdata\local\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\al6436\appdata\local\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\al6436\appdata\local\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\al6436\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\al6436\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [5]:
data=[10,11,12,23,43,56,87]
s=pd.Series(data)
print(s)

0    10
1    11
2    12
3    23
4    43
5    56
6    87
dtype: int64

In [8]:
s=pd.Series(data,index=("a","b","c","d","e","f","g"))
print(s)

a    10
b    11
c    12
d    23
e    43
f    56
g    87
dtype: int64

In [11]:
data= {"Name":["Vk","Ak","Kr","Rk"],
        "ID":[1,2,3,4],
        "Month":["jan","feb","Mar","apr"]}
df= pd.DataFrame(data)
print(df)

  Name  ID Month
0   Vk   1   jan
1   Ak   2   feb
2   Kr   3   Mar
3   Rk   4   apr

In [12]:
print(df['Name'])

0    Vk
1    Ak
2    Kr
3    Rk
Name: Name, dtype: object

In [17]:
print(df[['Name', 'ID']])

  Name  ID
0   Vk   1
1   Ak   2
2   Kr   3
3   Rk   4

In [20]:
# Using `iloc` for integer-based indexing (by position)
print(df.iloc[1])  # Select second row

# Using `loc` for label-based indexing
print(df.loc[1])  # Select row with index 1

# Selecting rows by range (slicing)
print(df[1:3])  # Select rows from index 1 to 2 (not 3)

Name      Ak
ID         2
Month    feb
Name: 1, dtype: object
Name      Ak
ID         2
Month    feb
Name: 1, dtype: object
  Name  ID Month
1   Ak   2   feb
2   Kr   3   Mar

In [21]:
print(df[df['ID'] > 3])

  Name  ID Month
3   Rk   4   apr

In [22]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, None, 35],
        'City': ['New York', 'Los Angeles', None]}
df=pd.DataFrame(data)

In [23]:
print(df.isnull())

    Name    Age   City
0  False  False  False
1  False   True  False
2  False  False   True

In [30]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [31]:
print(df)

      Name   Age         City
0    Alice  25.0     New York
1      Bob  30.0  Los Angeles
2  Charlie  35.0         None

In [32]:
df = df.dropna()

In [33]:
print(df)

    Name   Age         City
0  Alice  25.0     New York
1    Bob  30.0  Los Angeles

In [39]:
data={'name':['vk','kk','ak','vk'],
      'amount':[222,345,675,222]}
df=pd.DataFrame(data)
df=df.drop_duplicates()
print(df)

  name  amount
0   vk     222
1   kk     345
2   ak     675

In [40]:
data={'Category':['A', 'B', 'A', 'B', 'A', 'B'],
      'Value':[10,20,30,40,50,60]}
df=pd.DataFrame(data)
grouped = df.groupby('Category').sum()
print(grouped)

          Value
Category
A            90
B           120

In [41]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C'], 'Value1': [1, 2, 3]})
df2 = pd.DataFrame({'Key': ['A', 'B', 'D'], 'Value2': [4, 5, 6]})

merged_df = pd.merge(df1, df2, on='Key', how='inner')
print(merged_df)

  Key  Value1  Value2
0   A       1       4
1   B       2       5

In [42]:
data = {'Date': ['2021-01-01', '2021-01-02', '2021-01-01'],
        'City': ['New York', 'Los Angeles', 'Chicago'],
        'Temperature': [32, 75, 28]}

df = pd.DataFrame(data)
print(df)
pivot_df = df.pivot(index='Date', columns='City', values='Temperature')
print(pivot_df)

         Date         City  Temperature
0  2021-01-01     New York           32
1  2021-01-02  Los Angeles           75
2  2021-01-01      Chicago           28
City        Chicago  Los Angeles  New York
Date
2021-01-01     28.0          NaN      32.0
2021-01-02      NaN         75.0       NaN

In [49]:
# Saving to CSV
df.to_csv('data.csv', index=False)

# Saving to Excel
df.to_excel('data.xlsx', index=False)